// HTML elements ----------

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

// Custom elements ----------

.clear {
  clear: both;
}

.container {
  clear: both;
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}
