@import "variables";

// HTML elements ----------

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

// Custom elements ----------

.clear {
  clear: both;
}

.container {
  clear: both;
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

.titleHeader {
  clear: both;
  background-color: $light_gray;
  border-bottom: 1px solid $medium_gray;

  h1 {
    margin-bottom: 10px;
  }

  h5 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    color: $hard_gray;
  }
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.list_box {
  padding: 0;
  margin: 0;
  display: block;

  li {
    display: block;
    border-bottom: 1px solid $medium_gray;
    border-left: 1px solid $medium_gray;
    border-right: 1px solid $medium_gray;
    padding: 8px 10px;
    color: $hard_gray;
    font-size: 14px;

    p {
      display: inline;
      margin: 0;
    }

    &:hover {
      background-color: $light_gray;
    }

    &:first-child {
      padding: 10px 10px;
      border: 1px solid $medium_blue;
      border-radius: 3px 3px 0 0;
      background-color: $light_blue;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }
  }
}
